{% extends "layout.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Registro</h2>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.nome.label }}<br>
            {{ form.nome(size=32) }}
        </div>
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </div>
        <div>
            {{ form.senha.label }}<br>
            {{ form.senha(size=32, type="password") }}
        </div>
        <div>
            {{ form.confirmar.label }}<br>
            {{ form.confirmar(size=32, type="password") }}
        </div>
        <div style="margin-top: 10px;">
            {{ form.submit(class="btn") }}
        </div>
    </form>

    <p> Já tem uma conta?
        <a href="{{ url_for('web.login') }}">Entrar</a>.
    </p>
</div>
{% endblock %}
